body {
    background-image: url("images/groot.jpg");
    color: green;
    background-position: top right;
    background-size: 1200px;
    text-shadow: 1px 1px 0px black,
    1px 1px 10px rgba(0, 0, 0, 0.15),
    1px 1px 2px rgba(0, 0, 0, 0.1),
    1px 1px 20px rgba(0, 0, 0, 0.1);
    /* font-family: 'Shadows Into Light', cursive; */
    /* font-family: 'Play', sans-serif; */
    font-family: 'Orbitron', sans-serif;

}

.element {
    position: absolute;
    top: 10px;
    left: 900px;
    width: 200px;
    font-family: 'Orbitron', sans-serif;
}

pre {
    color: purple;
    font-size: 20px;
    box-sizing: content-box;
    height: 250px;
    width: 1250px;
    border: solid black 0px;
    overflow: auto;
    scroll-behavior: auto;
    scroll-snap-type: mandatory;
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 330px;
    left: 5px;
}

.outline {
    background-color: rgba(255, 255, 255, 0.5);
}

.inputbox {
    background-color: khaki;
    color: green;
    font-weight: 900;
    text-shadow: 1px 1px 0px black,
    1px 1px 10px rgba(0, 0, 0, 0.15),
    1px 1px 2px rgba(0, 0, 0, 0.1),
    1px 1px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Orbitron', sans-serif;

}

button {
    background-color: khaki;
    color: purple;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    margin: 10px 10px 10px 0px;
}

.newHguess {
    margin: 10px 20px 10px 5px;
}

#links {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:20px;
    padding:20px;
    font-family: 'Orbitron', sans-serif;
}